## Kelompok 5

* Ignatia Hutagalung			12S19043
* Dwita Sihombing			12S19055
* Putri Yohana Rajagukguk		12S19056

In [1]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving case_cost_prediction_train.csv to case_cost_prediction_train (1).csv

In [4]:
casecostprediction = pd.read_csv("./case_cost_prediction_train.csv")

In [5]:
print(casecostprediction)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [6]:
row_concat = pd.concat([casecostprediction])
print(row_concat)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [7]:
print(row_concat.iloc[3,])

row_id                            4
tglpelayanan    2018-11-01 00:00:00
kddati2                         318
tkp                              40
peserta                      178685
a                                 0
b                                 1
c                                 0
cb                                0
d                                 0
ds                                0
gd                                0
hd                                0
i1                                0
i2                                0
i3                                0
i4                                1
kb                                0
kc                                0
kg                                0
ki                                0
kj                                0
kk                                0
kl                                0
km                                0
ko                                0
kp                                0
kt                                0
ku                                0
s                                 0
sa                                0
sb                                0
sc                                0
sd                                3
case                           1321
unit_cost            4008756.093868
Name: 3, dtype: object

In [8]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [9]:
print(pd.concat([casecostprediction, new_row_series]))

         0    a    b    c     case   cb    d   ds   gd   hd  ...    peserta  \
0      NaN  0.0  0.0  1.0    266.0  0.0  1.0  0.0  0.0  0.0  ...   179530.0
1      NaN  0.0  1.0  0.0   2453.0  0.0  0.0  0.0  0.0  0.0  ...   104782.0
2      NaN  0.0  0.0  1.0   1690.0  0.0  0.0  0.0  0.0  0.0  ...   280645.0
3      NaN  0.0  1.0  0.0   1321.0  0.0  0.0  0.0  0.0  0.0  ...   178685.0
4      NaN  1.0  0.0  1.0  73056.0  0.0  0.0  0.0  0.0  0.0  ...  1199321.0
...    ...  ...  ...  ...      ...  ...  ...  ...  ...  ...  ...        ...
57970  NaN  0.0  1.0  1.0  16679.0  0.0  0.0  0.0  0.0  0.0  ...   770169.0
0       n1  NaN  NaN  NaN      NaN  NaN  NaN  NaN  NaN  NaN  ...        NaN
1       n2  NaN  NaN  NaN      NaN  NaN  NaN  NaN  NaN  NaN  ...        NaN
2       n3  NaN  NaN  NaN      NaN  NaN  NaN  NaN  NaN  NaN  ...        NaN
3       n4  NaN  NaN  NaN      NaN  NaN  NaN  NaN  NaN  NaN  ...        NaN

        row_id    s   sa   sb   sc   sd         tglpelayanan   tkp  \
0          1.0  0.0  0.0  0.0  0.0  0.0  2014-04-01 00:00:00  40.0
1          2.0  0.0  0.0  0.0  1.0  1.0  2016-11-01 00:00:00  40.0
2          3.0  0.0  0.0  0.0  0.0  0.0  2016-05-01 00:00:00  30.0
3          4.0  0.0  0.0  0.0  0.0  3.0  2018-11-01 00:00:00  40.0
4          5.0  0.0  0.0  1.0  0.0  5.0  2019-10-01 00:00:00  30.0
...        ...  ...  ...  ...  ...  ...                  ...   ...
57970  57971.0  0.0  0.0  1.0  2.0  1.0  2016-09-01 00:00:00  30.0
0          NaN  NaN  NaN  NaN  NaN  NaN                  NaN   NaN
1          NaN  NaN  NaN  NaN  NaN  NaN                  NaN   NaN
2          NaN  NaN  NaN  NaN  NaN  NaN                  NaN   NaN
3          NaN  NaN  NaN  NaN  NaN  NaN                  NaN   NaN

          unit_cost
0      3.597440e+06
1      4.951008e+06
2      1.984208e+05
3      4.008756e+06
4      3.072272e+05
...             ...
57970  2.956852e+05
0               NaN
1               NaN
2               NaN
3               NaN

[57975 rows x 37 columns]

In [10]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [11]:
print(pd.concat([casecostprediction, new_row_df]))

        row_id         tglpelayanan  kddati2   tkp    peserta    a    b    c  \
0          1.0  2014-04-01 00:00:00    332.0  40.0   179530.0  0.0  0.0  1.0
1          2.0  2016-11-01 00:00:00     54.0  40.0   104782.0  0.0  1.0  0.0
2          3.0  2016-05-01 00:00:00    323.0  30.0   280645.0  0.0  0.0  1.0
3          4.0  2018-11-01 00:00:00    318.0  40.0   178685.0  0.0  1.0  0.0
4          5.0  2019-10-01 00:00:00    150.0  30.0  1199321.0  1.0  0.0  1.0
...        ...                  ...      ...   ...        ...  ...  ...  ...
57967  57968.0  2019-09-01 00:00:00    338.0  30.0   402173.0  0.0  0.0  1.0
57968  57969.0  2016-06-01 00:00:00    241.0  40.0    99401.0  0.0  0.0  1.0
57969  57970.0  2018-01-01 00:00:00    147.0  40.0   509495.0  0.0  0.0  1.0
57970  57971.0  2016-09-01 00:00:00    204.0  30.0   770169.0  0.0  1.0  1.0
0          NaN                  NaN      NaN   NaN        NaN  NaN  NaN  NaN

        cb    d  ...   sa   sb   sc   sd     case     unit_cost    A    B  \
0      0.0  1.0  ...  0.0  0.0  0.0  0.0    266.0  3.597440e+06  NaN  NaN
1      0.0  0.0  ...  0.0  0.0  1.0  1.0   2453.0  4.951008e+06  NaN  NaN
2      0.0  0.0  ...  0.0  0.0  0.0  0.0   1690.0  1.984208e+05  NaN  NaN
3      0.0  0.0  ...  0.0  0.0  0.0  3.0   1321.0  4.008756e+06  NaN  NaN
4      0.0  0.0  ...  0.0  1.0  0.0  5.0  73056.0  3.072272e+05  NaN  NaN
...    ...  ...  ...  ...  ...  ...  ...      ...           ...  ...  ...
57967  0.0  0.0  ...  0.0  0.0  0.0  0.0   8272.0  2.128621e+05  NaN  NaN
57968  0.0  0.0  ...  0.0  0.0  0.0  0.0    294.0  3.028611e+06  NaN  NaN
57969  0.0  0.0  ...  0.0  0.0  2.0  0.0   1983.0  3.629365e+06  NaN  NaN
57970  0.0  0.0  ...  0.0  1.0  2.0  1.0  16679.0  2.956852e+05  NaN  NaN
0      NaN  NaN  ...  NaN  NaN  NaN  NaN      NaN           NaN   n1   n2

         C    D
0      NaN  NaN
1      NaN  NaN
2      NaN  NaN
3      NaN  NaN
4      NaN  NaN
...    ...  ...
57967  NaN  NaN
57968  NaN  NaN
57969  NaN  NaN
57970  NaN  NaN
0       n3   n4

[57972 rows x 40 columns]

In [12]:
data_dict = {'A': 'n1',
             'B': 'n2',
             'C': 'n3',
             'D': 'n4'}

print(casecostprediction.append(data_dict, ignore_index=True))

        row_id         tglpelayanan  kddati2   tkp    peserta    a    b    c  \
0          1.0  2014-04-01 00:00:00    332.0  40.0   179530.0  0.0  0.0  1.0
1          2.0  2016-11-01 00:00:00     54.0  40.0   104782.0  0.0  1.0  0.0
2          3.0  2016-05-01 00:00:00    323.0  30.0   280645.0  0.0  0.0  1.0
3          4.0  2018-11-01 00:00:00    318.0  40.0   178685.0  0.0  1.0  0.0
4          5.0  2019-10-01 00:00:00    150.0  30.0  1199321.0  1.0  0.0  1.0
...        ...                  ...      ...   ...        ...  ...  ...  ...
57967  57968.0  2019-09-01 00:00:00    338.0  30.0   402173.0  0.0  0.0  1.0
57968  57969.0  2016-06-01 00:00:00    241.0  40.0    99401.0  0.0  0.0  1.0
57969  57970.0  2018-01-01 00:00:00    147.0  40.0   509495.0  0.0  0.0  1.0
57970  57971.0  2016-09-01 00:00:00    204.0  30.0   770169.0  0.0  1.0  1.0
57971      NaN                  NaN      NaN   NaN        NaN  NaN  NaN  NaN

        cb    d  ...   sa   sb   sc   sd     case     unit_cost    A    B  \
0      0.0  1.0  ...  0.0  0.0  0.0  0.0    266.0  3.597440e+06  NaN  NaN
1      0.0  0.0  ...  0.0  0.0  1.0  1.0   2453.0  4.951008e+06  NaN  NaN
2      0.0  0.0  ...  0.0  0.0  0.0  0.0   1690.0  1.984208e+05  NaN  NaN
3      0.0  0.0  ...  0.0  0.0  0.0  3.0   1321.0  4.008756e+06  NaN  NaN
4      0.0  0.0  ...  0.0  1.0  0.0  5.0  73056.0  3.072272e+05  NaN  NaN
...    ...  ...  ...  ...  ...  ...  ...      ...           ...  ...  ...
57967  0.0  0.0  ...  0.0  0.0  0.0  0.0   8272.0  2.128621e+05  NaN  NaN
57968  0.0  0.0  ...  0.0  0.0  0.0  0.0    294.0  3.028611e+06  NaN  NaN
57969  0.0  0.0  ...  0.0  0.0  2.0  0.0   1983.0  3.629365e+06  NaN  NaN
57970  0.0  0.0  ...  0.0  1.0  2.0  1.0  16679.0  2.956852e+05  NaN  NaN
57971  NaN  NaN  ...  NaN  NaN  NaN  NaN      NaN           NaN   n1   n2

         C    D
0      NaN  NaN
1      NaN  NaN
2      NaN  NaN
3      NaN  NaN
4      NaN  NaN
...    ...  ...
57967  NaN  NaN
57968  NaN  NaN
57969  NaN  NaN
57970  NaN  NaN
57971   n3   n4

[57972 rows x 40 columns]

In [13]:
row_concat_i = pd.concat([casecostprediction], ignore_index=True)
print(row_concat_i)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

## Adding Columns

In [14]:
col_concat = pd.concat([casecostprediction], axis=1)
print(col_concat)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [15]:
print(pd.concat([casecostprediction], axis=1, ignore_index=True))

          0                    1    2   3        4   5   6   7   8   9   ...  \
0          1  2014-04-01 00:00:00  332  40   179530   0   0   1   0   1  ...
1          2  2016-11-01 00:00:00   54  40   104782   0   1   0   0   0  ...
2          3  2016-05-01 00:00:00  323  30   280645   0   0   1   0   0  ...
3          4  2018-11-01 00:00:00  318  40   178685   0   1   0   0   0  ...
4          5  2019-10-01 00:00:00  150  30  1199321   1   0   1   0   0  ...
...      ...                  ...  ...  ..      ...  ..  ..  ..  ..  ..  ...
57966  57967  2019-03-01 00:00:00  241  40   157213   0   0   1   0   0  ...
57967  57968  2019-09-01 00:00:00  338  30   402173   0   0   1   0   0  ...
57968  57969  2016-06-01 00:00:00  241  40    99401   0   0   1   0   0  ...
57969  57970  2018-01-01 00:00:00  147  40   509495   0   0   1   0   0  ...
57970  57971  2016-09-01 00:00:00  204  30   770169   0   1   1   0   0  ...

       26  27  28  29  30  31  32  33     34            35
0       0   0   0   0   0   0   0   0    266  3.597440e+06
1       0   0   1   0   0   0   1   1   2453  4.951008e+06
2       0   0   0   0   0   0   0   0   1690  1.984208e+05
3       0   0   0   0   0   0   0   3   1321  4.008756e+06
4       1   0   0   0   0   1   0   5  73056  3.072272e+05
...    ..  ..  ..  ..  ..  ..  ..  ..    ...           ...
57966   0   0   0   0   0   0   0   0    410  3.443332e+06
57967   0   0   0   0   0   0   0   0   8272  2.128621e+05
57968   0   0   0   0   0   0   0   0    294  3.028611e+06
57969   0   0   0   0   0   0   2   0   1983  3.629365e+06
57970   0   0   0   0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

## Adding Rows

In [16]:
row_concat = pd.concat([casecostprediction], sort=False)
print(row_concat)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [17]:
print(pd.concat([casecostprediction], join='inner'))

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [18]:
print(pd.concat([casecostprediction], ignore_index=False, join='inner'))

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

## Concatenate Columns with Different Rows

In [19]:
col_concat = pd.concat([casecostprediction], axis=1)
print(col_concat)

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]

In [20]:
print(pd.concat([casecostprediction], axis=1, join='inner'))

       row_id         tglpelayanan  kddati2  tkp  peserta  a  b  c  cb  d  \
0           1  2014-04-01 00:00:00      332   40   179530  0  0  1   0  1
1           2  2016-11-01 00:00:00       54   40   104782  0  1  0   0  0
2           3  2016-05-01 00:00:00      323   30   280645  0  0  1   0  0
3           4  2018-11-01 00:00:00      318   40   178685  0  1  0   0  0
4           5  2019-10-01 00:00:00      150   30  1199321  1  0  1   0  0
...       ...                  ...      ...  ...      ... .. .. ..  .. ..
57966   57967  2019-03-01 00:00:00      241   40   157213  0  0  1   0  0
57967   57968  2019-09-01 00:00:00      338   30   402173  0  0  1   0  0
57968   57969  2016-06-01 00:00:00      241   40    99401  0  0  1   0  0
57969   57970  2018-01-01 00:00:00      147   40   509495  0  0  1   0  0
57970   57971  2016-09-01 00:00:00      204   30   770169  0  1  1   0  0

       ...  kp  kt  ku  s  sa  sb  sc  sd   case     unit_cost
0      ...   0   0   0  0   0   0   0   0    266  3.597440e+06
1      ...   0   0   1  0   0   0   1   1   2453  4.951008e+06
2      ...   0   0   0  0   0   0   0   0   1690  1.984208e+05
3      ...   0   0   0  0   0   0   0   3   1321  4.008756e+06
4      ...   1   0   0  0   0   1   0   5  73056  3.072272e+05
...    ...  ..  ..  .. ..  ..  ..  ..  ..    ...           ...
57966  ...   0   0   0  0   0   0   0   0    410  3.443332e+06
57967  ...   0   0   0  0   0   0   0   0   8272  2.128621e+05
57968  ...   0   0   0  0   0   0   0   0    294  3.028611e+06
57969  ...   0   0   0  0   0   0   2   0   1983  3.629365e+06
57970  ...   0   0   0  0   0   1   2   1  16679  2.956852e+05

[57971 rows x 36 columns]